@model LecturesClaimingSystem.Models.Lecturer

@{
    ViewData["Title"] = "Lecturer Details";
}

<div class="container mt-5">
    <h1 class="text-center">Lecturer Details</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

        <dt class="col-sm-3">Department</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Department)</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

        <dt class="col-sm-3">Claimed Hours</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ClaimedHours)</dd>

        <dt class="col-sm-3">Claim Date</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ClaimDate)</dd>
    </dl>

    <div class="text-center">
        <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-warning">
            <i class="fas fa-edit"></i> Edit
        </a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
